/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
	font-family: "Roboto";
	src: url(../fonts/Roboto-Regular.ttf);
}

.navbar-inverse {
	background-color: #76a16a;
}

.navbar-fixed-top{
	border-width: 1px;
}

.navbar-brand {
	width: 100px;
	height: 62px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #000;
}

body {
	padding-top: 50px;
	font-family: "Roboto";
}

.carousel h2{
	margin: 0;     
	padding-top: 90px;
	font-size: 52px;
}

.item{
	background: #333;    
	text-align: center;
	height: 300px !important;
}

footer {
	background-color: #76a16a;
	width:100%;
	padding: 10px 10px 0 10px; /* t r b l */
	overflow: auto;
	border-top: 1px;
}

footer > div {
	left: 0;
	right: 0;
}

.jumbotron {
	padding: 0;
	margin-bottom: 0;
}

.jumbotron > .container {
	padding: 0;
	margin: 0;
	width: 100%;
}

.jumbotron p {
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
	background-color: rgba(0, 0, 0, 0.6);
}
.carousel-caption {
	left: 0;
	right: 0;
}

.carousel .item > img {
	margin: 0 auto;
}

.gametile {
	padding: 0;
	margin-bottom: 15px;
	height: 250px;
}

.gametitle {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 250px;
	color: white;
	padding: 5px;
	font-size: 24px;
	font-weight: bold;
}

.gamecaption {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 250px;
	color: white;
	padding: 5px;
	max-height: 100px;
}

.gametile:hover .gametitle{
	display: block;
	top: 0px;
}

.gametile:hover .gamecaption{
	display: block;
	bottom: 0px;
}

.navbarcorey > li > a {
	/*position: relative;
	display: initial;
	padding: 0px 15px;*/
	
}

.gamepagebanner{
	padding-top: 20px;
	padding-bottom: 20px;
}

.gameinfo > .row > :first-child {
	font-weight: bold;
}

.gameinfo > :nth-child(even){
	background-color: #EAEAEA;
}

.noMobileShow
{
	display: none;
}

.showImageInstead
{
	display: block;
}

@media (min-width: 768px) {
	.noMobileShow { display:block; }
	.showImageInstead { display: none; }
}

